* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    padding: 20px;
    color: #323b4c;
    font-family: 'Roboto', sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid #babfc9;
    margin: 0 auto;
}

.profile-image {
    border-radius: 50%;
    margin-top: 35px;
    width: 140px;
    height: 140px;
}

.sidebar {
    background-color: #323b4c;
    vertical-align: baseline;
    color: #fcfeff;
    padding-left: 45px;
    max-width: 300px;
    padding-right: 45px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #cecece;
}

.main-content {
    padding: 0 30px 0 30px;
    /* vertical-align: baseline; */
}

.body-content {
    vertical-align: baseline;
    padding: 0 30px 0 30px;
    ;
}

.name {
    font-size: 40px;
    line-height: 1px;
}

.job-title {
    font-size: 20px;
    line-height: 1px;
}

.contact-info {
    margin-right: 100px;
    line-height: 24px;
}

.experience-container {
    margin-top: 40px;
    text-align: justify;
    text-justify: inter-word;
    width: 600px;
}

.experience-container:first-of-type {
    margin-top: 30px;
}

.experience-date {
    line-height: 4px;
    color: #5a5c60;
}

.experience-company {
    color: #7c7c7c;
}

.experience-title {
    line-height: 4px;
    color: #323b4c;
}

.experience-description {
    color: #7c7c7c;
}

.education-info {
    line-height: 24px;
}

.expertise-list {
    line-height: 32px;
}

.language-list {
    line-height: 30px;
}

.reference-container {
    padding-left: 30px;
    vertical-align: baseline;
    padding: 0 0 90px 45px;
}

.reference-container:last-child {
    padding-right: 30px;
}

.reference-name {
    line-height: 4px;
}

.reference-title {
    line-height: 4px;
    color: #7c7c7c;
}

.reference-contact {
    line-height: 4px;
}

.reference-contact a {
    color: #7c7c7c;
    text-decoration: none;
}

h2 {
    color: inherit;
}

.main-content h2 {
    color: #323b4c;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
}

.checkbox {
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: 0.3s;
}

.checkbox:checked~.slider {
    background-color: #5d5d5d;
}

.slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
}

.checkbox:checked~.slider::before {
    transform: translateX(30px);
}